[defaults]
inventory         = aws_ssm_inventory.yml
remote_user       = ec2-user
# Amazon Linux: ec2-user | Ubuntu: ubuntu
host_key_checking = False
# Disable SSH host key checking — required for SSM connections

[inventory]
enable_plugins = aws_ssm, aws_ec2
# Enable the SSM inventory plugin

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no