[defaults]
inventory          = localhost,
# Comma after localhost makes Ansible treat it as an inventory list, not a file
host_key_checking  = False
stdout_callback    = yaml
interpreter_python = /usr/bin/python3